.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #7b6557 !important;
  }
  
  .Button:active {
    background-color: #7b6557 !important;
  }
  
  .Button:focus {
    background-color: #7b6557;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Brown,
  .BrownOutline:hover,
  .Bright:hover {
    background-color: #7b6557;
    color: #ffffff;
  }
  
  .BrownOutline,
  .Brown:hover {
    background-color: #0b0b0b;
    color: #efede6;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #0b0b0b;
    color: #efede6;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #efede6;
    color: #0b0b0b;
  }

  .Beige,
  .Brown:disabled {
    background-color: #efede6;
    color: #0b0b0b;
    border: none;
  }

  .Beige:hover,
  .Beige:active,
  .Beige:focus {
    background-color: #d9d6cd;
    color: #0b0b0b;
    border: none;
  }

  .ProfileButton {
    width: 100%;
  }

  .EditDelete,
  .EditDelete:hover,
  .EditDelete:focus,
  .EditDelete:active {
    background-color: transparent !important;
    border: none;
  }