.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }

  .Bookmark {
    color: #0b0b0b;
  }
  
  .BookmarkOutline:hover {
    color: #0b0b0b;
  }

  .FlagContainer {
    position: absolute;
    top: 60px;
    right: 20px;
  }

  .Flag {
    color: #ffa500;
  }

  .LikeCommentPlacement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .BookmarkPlacement {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .LikePost {
    padding-right: 5px;
  }

  .CommentPost {
    padding: 0 5px;
  }

  i {
    padding: 0 5px;
  }

  .imageSquare {
    height: 200px;
    width: 200px;
    overflow: hidden;
  } 