.SentMessages {
    background-color: lightblue;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    max-height: 400px;
    overflow-y: scroll;
  }

  .ReceivedMessages {
    background-color: lightgray;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

  .MessageContainer {
    margin-top: 60px;
    max-height: 400px;
    overflow-y: scroll;
  }